* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(0, 132, 255);
    --white: white;
    --blueShade: rgb(239, 239, 255);
}


/* Generic Styles */
body {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
}

img {
    width: 20px;
    height: 20px;
}


/* Other Styles */
.sidebar {
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin: 10px 0;
}

.dashLink {
    display: flex;
    gap: 10px;
}

.icon {
    width: 20px;
}

.topHeader {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
}

.topHeaderLeft {
    display: flex;
    width: 80%;
    gap: 10px;
    align-items: center;
}

.topHeaderRight {
    display: flex;
    width: 20%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    width: 75%;
    height: 22.5px;
    border-radius: 10px;
    background-color: var(--blueShade);
    padding: 2.5px 10px;
}

.profileIcon {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.profileName {
    font-weight: bold;
}

.profileNameAt {
    font-size: 1.5rem;
}

.bottomHeader {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    box-shadow: 0 8px 6px -6px rgb(194, 194, 194);
}

.bottomHeader button {
    width: 70px;
    margin: 10px 0px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 25px;
    border: none;
}

.bottomHeaderLeft {
    display: flex;
    width: 66%;
    gap: 10px;
}

.profileIconLarge {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomHeaderRight {
    display: flex;
    width: 34%;
    gap: 10px;
    justify-content: end;
}

.mainContainerTitles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--blueShade);
    margin-top: 6px;
}

.mainContainerTitles h1 {
    font-size: 1rem;
    margin: 10px 10px 0 10px
}

.mainContainer {
    background-color: var(--blueShade);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    height: 100vh;
}

.projects {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    row-gap: 10px;
}

.card {
    display: flex;
    margin: 10px 15px;
    background-color: var(--white);
    box-shadow: 8px 8px 6px -6px rgb(194, 194, 194);
    padding: 0px 10px 0px 0px;
    border-radius: 10px;
}

.card h2, h3 {
    font-size: 1rem;
}

.cardColor {
    height: 100%;
    width: 20px;
    background-color: orange;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}

.cardInfo {
    margin: 20px 20px
}

.card p {
    font-size: 0.75rem;
    margin-bottom: 10px;
}

.cardIcons ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}