* {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(0, 132, 255);
    --white: white;
}


/* Generic Styles */
body {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
}

img {
    width: 20px;
    height: 20px;
}


/* Other Styles */
.sidebar {
    height: 100vh;
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin: 10px 0;
}

.dashLink {
    display: flex;
    gap: 10px;
}

.mainSection {
}

.topHeader {
    display: flex;
    justify-content: space-around;
}

.bottomHeader {
    display: flex;
    justify-content: space-around;
}

.mainContainer {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-row: 1 / 3;
}